<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>FalseValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>autorun</string>
		<key>Title</key>
		<string>Automatically run on every page load.</string>
		<key>TrueValue</key>
		<real>1</real>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>FalseValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>showBadge</string>
		<key>Title</key>
		<string>Show badge for number of embeds found.</string>
		<key>TrueValue</key>
		<real>1</real>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
